# This is example app/secret.py file that shows what it should look like
# You need to have auth_keys and mail_addresses lists, mailgun_key, and
# server_address defined here
  
# List of keys that are valid for logging in to application
auth_keys = ["GurFrpergXrl!"]

# List of email addresses which are used for notifications
mail_addresses = ['john@example.com']

# Mailgun API key for sending mail
mailgun_key = 'key-xxxblablaetcxxx'

# Servers address that's pasted to notification mail.
server_address = 'http://your-awesome-domain.net'
