# You need to have auth_keys and mail_addresses lists defined at app/secret.py
# This is example file that shows what it should look like

# List of keys that are valid for logging in to application
auth_keys = ["GurFrpergXrl!"]

# List of email addresses which are used for notifications
mail_addresses = ['john@example.com']
