{% extends "bootstrap/base.html" %}

{% block title %}Milkilo Tracker{% endblock %}

{% block head %}
{{ super() }}  <!-- Retain block content from parent -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Milkilo Tracker</a>
    </div>
    % if current_user.is_authenticated()
    <a class="pull-right" href="{{url_for('authentication.logout')}}">Kirjaudu ulos</a>
    % endif
    <!-- <div class="navbar-collapse collapse"> -->
    <!--     <ul class="nav navbar-nav"> -->
    <!--         <li><a href="/">Home</a></li> -->
    <!--     </ul> -->
    <!-- </div> -->
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
