% extends "base.html"
% import "bootstrap/wtf.html" as wtf
% import "components.html" as components

% block page_content


% for message in get_flashed_messages()
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
% endfor

% if current_user.is_authenticated()

<h3>Uusi mittaus</h3>
<div class="well well-sm">
  {{wtf.quick_form(form)}}
</div>

<h3 class="">5 viimeisintä merkintää</h3>
{{ components.entry_list(measurements) }}
<a class="btn btn-block btn-default" href="{{url_for('measurements.history')}}">Näytä kaikki</a>

% else
<a class="btn btn-primary btn-lg"
   href="{{ url_for('authentication.login')}}">Kirjaudu sisään</a>
% endif

% endblock
