% extends "base.html"
% import "bootstrap/wtf.html" as wtf
% import "components.html" as components

% block page_content


% if current_user.is_authenticated

<h3>Uusi mittaus</h3>
<div class="well well-sm">
  {{wtf.quick_form(form)}}
</div>

<h3 class="">Viimeiset merkinnät tyypeittäin</h3>
{{ components.entry_list(measurements) }}
<a class="btn btn-block btn-default" href="{{url_for('measurements.history')}}">Näytä kaikki</a>

% else
<a class="btn btn-primary btn-lg"
   href="{{ url_for('authentication.login')}}">Kirjaudu sisään</a>
% endif

% endblock
